html {
  font-size: 12px;
}

body {
  background: #011457;
  color: #fff;
}

body {
  font-family: "Open Sans";
}

.btn--green {
  color: #fff;
  background-color: #009922;
  border-color: #006115;
}

.navbar--padding {
  padding-left: 1em;
}

.navbar--purple {
  background-color: #000c38;
}

.get-city-container {
  margin-top: 5em;
}

input.form-control {
  background-color: #ddd;
}

p {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.weather-data {
  height: 15em;
}
