html {
  font-size: 12px;
  background: url(../images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
  background: rgba(16,43,143,0.6);
  color: #fff;
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
}

.btn--green {
  color: #fff;
  background-color: #009922;
  border-color: #006115;
}

.navbar--padding {
  padding-left: 1em;
}

.navbar--purple {
  background-color: #000c38;
}

.get-city-container {
  margin-top: 5em;
}

input.form-control {
  background-color: #ddd;
}

p {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.weather-data {
  height: 15em;
}
